#HeaderComponent {
  background: #002f5f;
  position: fixed;
  width: 100%;
}
#HeaderComponent nav .navbar-brand {
  color: #aefdff;
  text-shadow: 1px 1px 3px #001b37;
}
#HeaderComponent nav a {
  transition: all ease 0.3s;
  color: #eee;
}
#HeaderComponent nav a:hover {
  color: #aefdff;
  text-decoration: none;
}
#HeaderComponent nav a.nav-link {
  border: 2px solid transparent;
}
#HeaderComponent nav a.nav-link:hover {
  border-color: #aefdff;
}
