@font-face {
  font-family: 'ZCOOL QingKe HuangYou';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('ZCOOL QingKe HuangYou Regular'), local('ZCOOLQingKeHuangYou-Regular'), url(https://fonts.gstatic.com/s/zcoolqingkehuangyou/v5/2Eb5L_R5IXJEWhD3AOhSvFC554MOOahI4mR4jPe4.ttf) format('truetype');
}
#WrapperComponent {
  padding: 75px 0 25px 0;
}
#WrapperComponent ol.breadcrumb {
  background: none;
  border-radius: 0;
  padding-left: 0;
  padding-top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#WrapperComponent ol.breadcrumb li a {
  color: rgba(0, 0, 0, 0.3);
}
#WrapperComponent ol.breadcrumb li:last-of-type a {
  color: #002f5f;
}
