@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap');

@primary-color:#002f5f;
@primary-color-darker: #00254b;
@primary-color-darkest: #001b37;

@secondary-color: #dbff9a;
@secondary-color-lighter: #eeffc2;

@accent-color: #ff426f;
@accent-color-darker: #dc3c64;
@accent-color-lighter: #ff668c;


@bg-color: #deeefb;
@bg-color-nav: #002f5f;
@font-color-nav:#eee;
@font-color-nav-secondary: @secondary-color;


@font-family: 'ZCOOL QingKe HuangYou', cursive, sans-serif;
