@font-face {
  font-family: 'ZCOOL QingKe HuangYou';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('ZCOOL QingKe HuangYou Regular'), local('ZCOOLQingKeHuangYou-Regular'), url(https://fonts.gstatic.com/s/zcoolqingkehuangyou/v5/2Eb5L_R5IXJEWhD3AOhSvFC554MOOahI4mR4jPe4.ttf) format('truetype');
}
.App {
  background: #deeefb;
  min-height: 100vh;
}
.App * {
  font-family: 'ZCOOL QingKe HuangYou', cursive, sans-serif;
}
.btn {
  border-radius: 0;
}
.btn:focus {
  outline: none;
  box-shadow: none;
  opacity: 0.9;
}
.btn.btn-primary {
  background: #002f5f;
  border-color: #002f5f;
}
.btn.btn-primary:hover,
.btn.btn-primary:active {
  background: #002346 !important;
  border-color: #002346 !important;
}
.btn.btn-secondary {
  background: #ff3156;
  border-color: #ff3156;
}
.btn.btn-secondary:hover,
.btn.btn-secondary:active {
  background: #cf3762 !important;
  border-color: #cf3762 !important;
}
.btn.btn-info {
  background: #1ec8d7;
  border-color: #1ec8d7;
}
.btn.btn-info:hover,
.btn.btn-info:active {
  background: #1ba1af !important;
  border-color: #1ba1af !important;
}
.btn.btn-success {
  background: #0eca4e;
  border-color: #0eca4e;
}
.btn.btn-success:hover,
.btn.btn-success:active {
  background: #0ea84a !important;
  border-color: #0ea84a !important;
}
.btn.btn-warning {
  background: #ff972a;
  border-color: #ff972a;
  color: #fff;
}
.btn.btn-warning:hover,
.btn.btn-warning:active {
  background: #e58029 !important;
  border-color: #e58029 !important;
}
.btn.btn-danger {
  background: #cb132f;
  border-color: #cb132f;
}
.btn.btn-danger:hover,
.btn.btn-danger:active {
  background: #9b1128 !important;
  border-color: #9b1128 !important;
}
.btn-toolbar .btn {
  margin-right: 5px;
}
.btn-toolbar .btn:last-of-type {
  margin-right: 0;
}
form {
  background: rgba(255, 255, 255, 0.5);
  padding: 15px;
}
form label.form-label span {
  display: inline-block;
}
form label.form-label span:nth-of-type(2) {
  color: rgba(203, 19, 47, 0.8);
  font-style: italic;
  font-weight: normal;
  margin-left: 5px;
  font-size: 14px;
}
form .form-control {
  border-radius: 0;
}
form .form-control.inp-err {
  border-color: rgba(203, 19, 47, 0.5);
  box-shadow: 0 0 0 0.1rem rgba(203, 19, 47, 0.3);
}
form #ImageFormContainer {
  margin-top: 32px;
  background: #fff;
  border: 1px solid #ccc;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}
form #ImageFormContainer #loading,
form #ImageFormContainer #no-image,
form #ImageFormContainer #error-image {
  text-align: center;
}
form #ImageFormContainer #loading .fa-image,
form #ImageFormContainer #no-image .fa-image,
form #ImageFormContainer #error-image .fa-image,
form #ImageFormContainer #loading .fa-bahai,
form #ImageFormContainer #no-image .fa-bahai,
form #ImageFormContainer #error-image .fa-bahai {
  font-size: 24px;
}
form #ImageFormContainer #loading,
form #ImageFormContainer #error-image {
  position: absolute;
}
form #ImageFormContainer img {
  display: block;
  width: 100%;
  max-height: 100%;
}
table {
  background: rgba(255, 255, 255, 0.5);
  padding: 15px;
  margin-top: 15px;
}
.clearfix {
  clear: both;
  content: ' ';
}
#HeaderComponent {
  background: #002f5f;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
#HeaderComponent nav .navbar-brand {
  color: #dbff9a;
  font-size: 24px;
  text-shadow: 1px 1px 3px #001b37;
}
#HeaderComponent nav a {
  transition: all ease 0.3s;
  color: #eee;
  font-size: 18px;
}
#HeaderComponent nav a:hover {
  color: #dbff9a;
  text-decoration: none;
}
#HeaderComponent nav a.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#WrapperComponent {
  padding: 75px 0 25px 0;
}
#WrapperComponent ol.breadcrumb {
  background: none;
  border-radius: 0;
  padding-left: 0;
  padding-top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#WrapperComponent ol.breadcrumb li a {
  color: rgba(0, 0, 0, 0.3);
}
#WrapperComponent ol.breadcrumb li:last-of-type a {
  color: #002f5f;
}
#FooterComponent {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #002f5f;
  text-align: center;
  font-size: 12px;
  padding: 5px 0;
  color: #eee;
}
#FooterComponent a {
  color: #eee;
  transition: all ease 0.3s;
}
#FooterComponent a:hover {
  color: #dbff9a;
  text-decoration: none;
}
#ProductGrid #ProductItem {
  margin-top: 15px;
}
#ProductGrid #ProductItem .card {
  text-align: center;
}
#ProductGrid #ProductItem .card img {
  width: 60%;
  display: block;
  margin: 15px auto auto;
}
#HomeView {
  padding-bottom: 25px;
}
#ManageView #SearchInput {
  margin-top: 15px;
}
#ManageView .badge {
  margin-left: 3px;
}
#ManageView .btn-search,
#ManageView .btn-close {
  display: inline-block;
  cursor: pointer;
  transition: all ease 0.3s;
  color: #002f5f;
}
#ManageView .btn-search:hover {
  color: #001b37;
}
#ManageView .btn-close {
  position: absolute;
  right: 25px;
  margin-top: 15px;
}
#ManageView .btn-close:hover {
  color: #9b1128;
}
