@font-face {
  font-family: 'ZCOOL QingKe HuangYou';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('ZCOOL QingKe HuangYou Regular'), local('ZCOOLQingKeHuangYou-Regular'), url(https://fonts.gstatic.com/s/zcoolqingkehuangyou/v5/2Eb5L_R5IXJEWhD3AOhSvFC554MOOahI4mR4jPe4.ttf) format('truetype');
}
.App {
  background: #deeefb;
  min-height: 100vh;
}
.App * {
  font-family: 'ZCOOL QingKe HuangYou', cursive, sans-serif;
}
.btn {
  border-radius: 0;
}
.btn:focus {
  outline: none;
  box-shadow: none;
  opacity: 0.9;
}
.btn.btn-primary {
  background: #002f5f;
  border-color: #002f5f;
}
.btn.btn-primary:hover,
.btn.btn-primary:active {
  background: #002346 !important;
  border-color: #002346 !important;
}
.btn.btn-secondary {
  background: #ff3156;
  border-color: #ff3156;
}
.btn.btn-secondary:hover,
.btn.btn-secondary:active {
  background: #cf3762 !important;
  border-color: #cf3762 !important;
}
.btn.btn-info {
  background: #1ec8d7;
  border-color: #1ec8d7;
}
.btn.btn-info:hover,
.btn.btn-info:active {
  background: #1ba1af !important;
  border-color: #1ba1af !important;
}
.btn.btn-success {
  background: #0eca4e;
  border-color: #0eca4e;
}
.btn.btn-success:hover,
.btn.btn-success:active {
  background: #0ea84a !important;
  border-color: #0ea84a !important;
}
.btn.btn-warning {
  background: #ff972a;
  border-color: #ff972a;
  color: #fff;
}
.btn.btn-warning:hover,
.btn.btn-warning:active {
  background: #e58029 !important;
  border-color: #e58029 !important;
}
.btn.btn-danger {
  background: #cb132f;
  border-color: #cb132f;
}
.btn.btn-danger:hover,
.btn.btn-danger:active {
  background: #9b1128 !important;
  border-color: #9b1128 !important;
}
.btn-toolbar .btn {
  margin-right: 5px;
}
.btn-toolbar .btn:last-of-type {
  margin-right: 0;
}
.remove-btn {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  transition: all ease 0.3s;
  color: #cb132f;
}
.remove-btn:hover {
  color: #9b1128;
}
form {
  background: rgba(255, 255, 255, 0.5);
  padding: 15px;
}
form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
form input[type=number] {
  -moz-appearance: textfield;
}
form h6 {
  color: rgba(0, 0, 0, 0.4);
  font-style: italic;
  margin-top: 15px;
  font-size: 14px;
}
form h6:first-of-type {
  margin-top: 0;
}
form label.form-label span {
  display: inline-block;
}
form .form-group .err {
  color: rgba(203, 19, 47, 0.8);
  font-style: italic;
  font-weight: normal;
  margin-left: 5px;
  font-size: 14px;
}
form .form-control {
  border-radius: 0;
}
form .form-control.inp-err {
  border-color: rgba(203, 19, 47, 0.5);
  box-shadow: 0 0 0 0.1rem rgba(203, 19, 47, 0.3);
}
form .form-check.inp-err input[type="checkbox"] {
  border-color: rgba(203, 19, 47, 0.9);
  box-shadow: 0 0 0 0.1rem rgba(203, 19, 47, 0.6);
  background: red;
}
form #ImageFormContainer {
  margin-top: 32px;
  background: #fff;
  border: 1px solid #ccc;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}
form #ImageFormContainer #loading,
form #ImageFormContainer #no-image,
form #ImageFormContainer #error-image {
  text-align: center;
}
form #ImageFormContainer #loading .fa-image,
form #ImageFormContainer #no-image .fa-image,
form #ImageFormContainer #error-image .fa-image,
form #ImageFormContainer #loading .fa-bahai,
form #ImageFormContainer #no-image .fa-bahai,
form #ImageFormContainer #error-image .fa-bahai {
  font-size: 24px;
}
form #ImageFormContainer #loading,
form #ImageFormContainer #error-image {
  position: absolute;
}
form #ImageFormContainer img {
  display: block;
  width: 100%;
  max-height: 100%;
}
table {
  background: rgba(255, 255, 255, 0.5);
  padding: 15px;
  margin-top: 15px;
}
table th,
table td {
  border: none !important;
}
.clearfix {
  clear: both;
  content: ' ';
}
#Stepper ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Stepper ul li {
  display: block;
}
#Stepper ul li.step-item {
  cursor: pointer;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  min-width: 120px;
  min-height: 120px;
  padding: 30px 15px;
  color: rgba(0, 47, 95, 0.4);
}
#Stepper ul li.step-item h1 {
  font-size: 1.5rem;
}
#Stepper ul li.step-item h2 {
  font-size: 1.1rem;
}
#Stepper ul li.step-item.active {
  color: #002f5f;
}
#Stepper ul li.step-line {
  height: 0;
  width: 15%;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}
#Stepper ul li.step-line:last-of-type {
  display: none;
}
#Stepper #button-container {
  margin-top: 15px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}
#HeaderComponent {
  background: #002f5f;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
#HeaderComponent nav .navbar-brand {
  color: #dbff9a;
  font-size: 24px;
  text-shadow: 1px 1px 3px #001b37;
}
#HeaderComponent nav a {
  transition: all ease 0.3s;
  color: #eee;
  font-size: 18px;
}
#HeaderComponent nav a:hover {
  color: #dbff9a;
  text-decoration: none;
}
#HeaderComponent nav a.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#WrapperComponent {
  padding: 75px 0 25px 0;
}
#WrapperComponent ol.breadcrumb {
  background: none;
  border-radius: 0;
  padding-left: 0;
  padding-top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#WrapperComponent ol.breadcrumb li a {
  color: rgba(0, 0, 0, 0.3);
}
#WrapperComponent ol.breadcrumb li:last-of-type a {
  color: #002f5f;
}
#FooterComponent {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #002f5f;
  text-align: center;
  font-size: 12px;
  padding: 5px 0;
  color: #eee;
}
#FooterComponent a {
  color: #eee;
  transition: all ease 0.3s;
}
#FooterComponent a:hover {
  color: #dbff9a;
  text-decoration: none;
}
#ProductGrid #ProductItem {
  padding-top: 15px;
  display: flex;
  height: 100%;
}
#ProductGrid #ProductItem .card {
  text-align: center;
  border: none;
}
#ProductGrid #ProductItem .card img {
  width: 60%;
  display: block;
  margin: 15px auto auto;
}
#ProductGrid #ProductItem .card .card-footer {
  height: 100%;
}
#ProductGrid #ProductItem .card form {
  padding: 0;
  text-align: center;
  display: inline-flex;
  box-sizing: border-box;
}
#ProductGrid #ProductItem .card form input,
#ProductGrid #ProductItem .card form button {
  display: inline-block;
  flex-grow: 1;
}
#ProductGrid #ProductItem .card form input[name="quantity"] {
  width: 70px;
  text-align: center;
}
#HomeView {
  padding-bottom: 25px;
}
#HomeView .change-alert-info {
  color: #999;
  font-style: italic;
  font-size: 14px;
  margin-top: 3px;
}
#HomeView .quantity-in-basket {
  margin-top: 3px;
}
#ManageView #SearchInput {
  margin-top: 15px;
}
#ManageView .badge {
  margin-left: 3px;
}
#ManageView .btn-search,
#ManageView .btn-close {
  display: inline-block;
  cursor: pointer;
  transition: all ease 0.3s;
  color: #002f5f;
}
#ManageView .btn-search:hover {
  color: #001b37;
}
#ManageView .btn-close {
  position: absolute;
  right: 25px;
  margin-top: 15px;
}
#ManageView .btn-close:hover {
  color: #9b1128;
}
#BasketView .stage-title {
  color: #ff3156;
  margin-top: 45px;
}
#BasketView #CheckProductsStage td {
  font-size: 18px;
  vertical-align: middle;
}
#BasketView #CheckProductsStage .product-image {
  width: 7rem;
  max-height: 6rem;
}
#BasketView #CheckProductsStage .product-name {
  font-size: 20px;
  min-width: 10rem;
}
#BasketView #CheckProductsStage .product-amount form {
  background: transparent;
}
#BasketView #CheckProductsStage .product-amount form input[name='quantity'] {
  width: 5rem;
  text-align: center;
}
#BasketView #CheckProductsStage .product-amount form .btn-primary {
  background: #f5f5f5;
  color: #888;
  border-color: #888;
}
#BasketView #CheckProductsStage .product-amount form .btn-primary:hover,
#BasketView #CheckProductsStage .product-amount form .btn-primary:focus {
  background: #e5e5e5 !important;
  border-color: #666 !important;
  color: #666 !important;
}
#BasketView #CheckProductsStage .product-sum {
  font-size: 20px;
}
#BasketView #CheckProductsStage .product-price {
  color: grey;
  font-size: 16px;
}
#BasketView #CheckProductsStage .trash-action {
  cursor: pointer;
  width: 3rem;
  text-align: center;
  color: #cb132f;
}
#BasketView #CheckProductsStage .trash-action:hover {
  color: #9b1128;
}
#BasketView #CheckProductsStage #basket-summary {
  margin-bottom: 0;
}
