@font-face {
  font-family: 'ZCOOL QingKe HuangYou';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('ZCOOL QingKe HuangYou Regular'), local('ZCOOLQingKeHuangYou-Regular'), url(https://fonts.gstatic.com/s/zcoolqingkehuangyou/v5/2Eb5L_R5IXJEWhD3AOhSvFC554MOOahI4mR4jPe4.ttf) format('truetype');
}
#BasketView .stage-title {
  color: #ff3156;
  margin-top: 45px;
}
#BasketView .stage-card {
  background: rgba(255, 255, 255, 0.5);
  padding: 15px;
}
#BasketView #CheckProductsStage td {
  font-size: 18px;
  vertical-align: middle;
}
#BasketView #CheckProductsStage .product-image {
  width: 7rem;
  max-height: 6rem;
}
#BasketView #CheckProductsStage .product-name {
  font-size: 20px;
  min-width: 10rem;
}
#BasketView #CheckProductsStage .product-amount form {
  background: transparent;
}
#BasketView #CheckProductsStage .product-amount form input[name='quantity'] {
  width: 5rem;
  text-align: center;
}
#BasketView #CheckProductsStage .product-amount form .btn-primary {
  background: #f5f5f5;
  color: #888;
  border-color: #888;
}
#BasketView #CheckProductsStage .product-amount form .btn-primary:hover,
#BasketView #CheckProductsStage .product-amount form .btn-primary:focus {
  background: #e5e5e5 !important;
  border-color: #666 !important;
  color: #666 !important;
}
#BasketView #CheckProductsStage .product-sum {
  font-size: 20px;
}
#BasketView #CheckProductsStage .product-price {
  color: grey;
  font-size: 16px;
}
#BasketView #CheckProductsStage .trash-action {
  cursor: pointer;
  width: 3rem;
  text-align: center;
  color: #cb132f;
}
#BasketView #CheckProductsStage .trash-action:hover {
  color: #9b1128;
}
#BasketView #CheckProductsStage #basket-summary {
  margin-bottom: 0;
}
#BasketView #MakePaymentStage h6 {
  margin-bottom: 15px;
}
