@font-face {
  font-family: 'ZCOOL QingKe HuangYou';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('ZCOOL QingKe HuangYou Regular'), local('ZCOOLQingKeHuangYou-Regular'), url(https://fonts.gstatic.com/s/zcoolqingkehuangyou/v5/2Eb5L_R5IXJEWhD3AOhSvFC554MOOahI4mR4jPe4.ttf) format('truetype');
}
#HeaderComponent {
  background: #002f5f;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
#HeaderComponent nav .navbar-brand {
  color: #eee;
  font-size: 24px;
  text-shadow: 1px 1px 3px #001b37;
}
#HeaderComponent nav a {
  transition: all ease 0.3s;
  color: #eee;
  font-size: 18px;
}
#HeaderComponent nav a:hover {
  color: #ff3156;
  text-decoration: none;
}
#HeaderComponent nav a.nav-link {
  display: block;
}
#HeaderComponent nav a.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#HeaderComponent nav .badge {
  background: #e63156;
}
