@font-face {
  font-family: 'ZCOOL QingKe HuangYou';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('ZCOOL QingKe HuangYou Regular'), local('ZCOOLQingKeHuangYou-Regular'), url(https://fonts.gstatic.com/s/zcoolqingkehuangyou/v5/2Eb5L_R5IXJEWhD3AOhSvFC554MOOahI4mR4jPe4.ttf) format('truetype');
}
#ManageView #SearchInput {
  margin-top: 15px;
}
#ManageView .badge {
  margin-left: 3px;
}
#ManageView .btn-search,
#ManageView .btn-close {
  display: inline-block;
  cursor: pointer;
  transition: all ease 0.3s;
  color: #002f5f;
}
#ManageView .btn-search:hover {
  color: #001b37;
}
#ManageView .btn-close {
  position: absolute;
  right: 25px;
  margin-top: 15px;
}
#ManageView .btn-close:hover {
  color: #9b1128;
}
