#ProductGrid #ProductItem {
  padding-top: 15px;
  display: flex;
  height: 100%;
}
#ProductGrid #ProductItem .card {
  text-align: center;
  border: none;
}
#ProductGrid #ProductItem .card img {
  width: 60%;
  display: block;
  margin: 15px auto auto;
}
#ProductGrid #ProductItem .card .card-footer {
  height: 100%;
}
#ProductGrid #ProductItem .card form {
  padding: 0;
  text-align: center;
  display: inline-flex;
  box-sizing: border-box;
}
#ProductGrid #ProductItem .card form input,
#ProductGrid #ProductItem .card form button {
  display: inline-block;
  flex-grow: 1;
}
#ProductGrid #ProductItem .card form input[name="quantity"] {
  width: 70px;
  text-align: center;
}
