#ProductGrid #ProductItem {
  margin-top: 15px;
}
#ProductGrid #ProductItem .card {
  text-align: center;
}
#ProductGrid #ProductItem .card img {
  width: 60%;
  display: block;
  margin: 15px auto auto;
}
#ProductGrid #ProductItem .card form {
  padding: 0;
  text-align: center;
  display: inline-flex;
  box-sizing: border-box;
  /* Firefox */
}
#ProductGrid #ProductItem .card form input,
#ProductGrid #ProductItem .card form button {
  display: inline-block;
  flex-grow: 1;
}
#ProductGrid #ProductItem .card form input[name="quantity"] {
  width: 70px;
  text-align: center;
}
#ProductGrid #ProductItem .card form input::-webkit-outer-spin-button,
#ProductGrid #ProductItem .card form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#ProductGrid #ProductItem .card form input[type=number] {
  -moz-appearance: textfield;
}
