#ProductGrid {

  #ProductItem {
    margin-top: 15px;

    .card {
      text-align: center;
      img {
        width: 60%;
        display: block;
        margin: 15px auto auto;
      }
    }
  }

}